@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: poppins, sans-serif;
}

header {
    background: #333;
    text-align: center;
    padding: 1rem;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    text-align: center;
}

section p {
    max-width: 600px;
    margin: 0 auto;
}

.contact {
    padding: 0;
}

.projects-card {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #003b7a;
}

section ul {
    list-style-position: inside;
    padding: 10px 0 0 0;
}

footer {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0%;
}